@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Otávio Luiz Araújo<br />
    <abbr title="Phone">Phone:</abbr>
    (35)98804-1128
</address>

<address>
    <strong>Email:</strong> <a href="otavio-luiz17@outlook.com">otavio-luiz17@outlook.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/OtavioAraujo17">github.com/OtavioAraujo17</a><br />
</address>
